$orangeColor: #f19d2f;
$lightOrangeColor: #ffd1ac;
$textColor: #2c2b31;
$salatColor: #37d997;
$darkSalatColor: #4baf87;
$whiteColor: #ffffff;
$lightGrayColor: #f0f0f0;
$redOrangeColor: #e27500;
$grayColor: #999999;
$scrollbarHoverColor: #555555;
