@import "src/vars/vars.scss";

@font-face {
  font-family: "Raleway";
  src: url("./fonts/GothamPro.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/GothamPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

* {
  font-family: "Raleway", sans-serif;
  color: $textColor;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (max-width: 500px) {
  body {
    padding: 0;
  }
}
